# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# Ruff cache
.ruff_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/